{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="app" class="min-h-screen flex flex-col bg-[var(--bg_color_nonary)] px-9">

    <!-- SECTION ERROR 404 -->
     <section class="flex flex-col items-center mt-24 lg:mt-30">
         <h1 class="text-center">Désolé, cette page n’est pas disponible</h1>
        <img class="w-[450px] h-full md:w-[700px]" src="{% static "neuroa_app/img/image-section-404.svg" %}" alt="illustration des yeux de l'erreur 404">
        <button class="button_large flex items-center gap-x-2.5 mt-10"><i class="fa-solid fa-arrow-left"></i>Revenir à l’accueil</button>
     </section>
</div>
{% endblock %}