{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="app" class="min-h-screen flex flex-col bg-[var(--bg_color_nonary)]">

    <!-- HERO BANNER -->
    <section class="flex flex-col items-center px-9 mt-24 lg:mt-30">
        <h1><span class="font-bold">NoMask :</span> une “Safe Place”</h1>
         <img class="w-[300px] h-full lg:w-[400px]" src="{% static "neuroa_app/img/image-section-qui-sommes-nous.svg" %}" alt="illustration d'une personne qui bouqine">
    </section>

    <!-- SECTION NOTRE VISION, NOTRE MISSION -->
     <section class="flex justify-center items-center gap-x-10 px-9 py-8 bg-[var(--bg_color_quinary)] border-b-2 border-[var(--border_color_quaternary)]">
        <div class="max-w-[730px]">
            <h2>Notre vision, notre mission</h2>
            <p class="p_interligne mt-5">Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat. Numne, si Coriolanus habuit amicos, ferre contra patriam arma illi cum Coriolano debuerunt? num Vecellinum amici regnum adpetentem, num Maelium debuerunt iuvare?<br>
            Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur. Et interdum acciderat, ut siquid in penetrali secreto nullo citerioris vitae ministro praesente paterfamilias uxori susurrasset in aurem, velut Amphiarao referente aut Marcio, quondam vatibus inclitis, postridie disceret imperator. ideoque etiam parietes arcanorum soli conscii timebantur.</p>
            </div>
            <img class="hidden h-full md:block md:w-[200px]" src="{% static "neuroa_app/img/image-section-notre-vision-notre-mission.svg" %}" alt="illustration des yeux d'une femme">
        </section>
        
        
        <!-- SECTION NOTRE HISTOIRE -->
        <section class="mt-8 px-9">
            <!-- container image + titre + texte -->
            <div class="flex flex-col justify-center items-center gap-x-10 md:flex-row">
                <img class="w-[250px] h-full lg:w-[300px]" src="{% static "neuroa_app/img/image-section-notre-vision-notre-histoire.svg" %}" alt="illustration de quelqu'un qui bouquine">
                <div class="max-w-[730px] mt-5 md:mt-0">
                    <h2>Notre histoire</h2>
                    <p class="p_interligne mt-5">Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat. Numne, si Coriolanus habuit amicos, ferre contra patriam arma illi cum Coriolano debuerunt? num Vecellinum amici regnum adpetentem, num Maelium debuerunt iuvare?<br>
                        Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.
                        Et interdum acciderat, ut siquid in penetrali secreto nullo citerioris vitae ministro praesente paterfamilias uxori susurrasset in aurem, velut Amphiarao referente aut Marcio, quondam vatibus inclitis, postridie disceret imperator. ideoque etiam parietes arcanorum soli conscii timebantur.</p>
                </div>
            </div>
            <!-- container texte + image -->
            <div class="flex flex-col-reverse justify-center items-center gap-x-10 mt-5 md:mt-0 md:flex-row">
                    <p class="p_interligne max-w-[730px] mt-5 md:mt-0">Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat. Numne, si Coriolanus habuit amicos, ferre contra patriam arma illi cum Coriolano debuerunt? num Vecellinum amici regnum adpetentem, num Maelium debuerunt iuvare?<br>
                        Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.
                        Et interdum acciderat, ut siquid in penetrali secreto nullo citerioris vitae ministro praesente paterfamilias uxori susurrasset in aurem, velut Amphiarao referente aut Marcio, quondam vatibus inclitis, postridie disceret imperator. ideoque etiam parietes arcanorum soli conscii timebantur.</p>
                    <img class="w-[250px] h-full lg:w-[300px]" src="{% static "neuroa_app/img/image-section-notre-vision-notre-histoire-2.svg" %}" alt="illustration de quelqu'un qui bouquine">
                </div>
            </section>
            
            <!-- L’EQUIPE NOMASK -->
            <section class="flex flex-col items-center px-9 py-8  mt-8 bg-[var(--bg_color_quinary)]">
                <h2>L’équipe NoMask</h2>
                <!-- container photos de l'equipe -->
            <div class="grid grid-cols-2 grid-rows-3 gap-x-16 mt-10 gap-y-8 md:gap-x-24 md:gap-y-10  md:grid-cols-3 md:grid-rows-2">
                <!-- une photo -->
                <div class="flex flex-col items-center">
                    <div class="w-[140px] h-[140px] lg:w-[200px] lg:h-[200px] rounded-full object-cover">
                        <img class="w-full h-full object-cover rounded-full" src="{% static "neuroa_app/img/photo-exemple-equipe-no-mask.jpg" %}" alt="illustration de quelqu'un de l'équipe NoMask">
                    </div>
                    <h4 class="h4_bold mt-4	text-center">Matthey Raphaël</h4>
                    <h4 class="text-center">Responsable des relations entreprises</h4>
                </div>
                <!-- une photo -->
                <div class="flex flex-col items-center">
                    <div class="w-[140px] h-[140px] lg:w-[200px] lg:h-[200px] rounded-full object-cover">
                        <img class="w-full h-full object-cover rounded-full" src="{% static "neuroa_app/img/photo-exemple-equipe-no-mask.jpg" %}" alt="illustration de quelqu'un de l'équipe NoMask">
                    </div>
                    <h4 class="h4_bold mt-4	text-center">Matthey Raphaël</h4>
                    <h4 class="text-center">Responsable des relations entreprises</h4>
                </div>
                <!-- une photo -->
                <div class="flex flex-col items-center">
                    <div class="w-[140px] h-[140px] lg:w-[200px] lg:h-[200px] rounded-full object-cover">
                        <img class="w-full h-full object-cover rounded-full" src="{% static "neuroa_app/img/photo-exemple-equipe-no-mask.jpg" %}" alt="illustration de quelqu'un de l'équipe NoMask">
                    </div>
                    <h4 class="h4_bold mt-4	text-center">Matthey Raphaël</h4>
                    <h4 class="text-center">Responsable des relations entreprises</h4>
                </div>
                <!-- une photo -->
                <div class="flex flex-col items-center">
                    <div class="w-[140px] h-[140px] lg:w-[200px] lg:h-[200px] rounded-full object-cover">
                        <img class="w-full h-full object-cover rounded-full" src="{% static "neuroa_app/img/photo-exemple-equipe-no-mask.jpg" %}" alt="illustration de quelqu'un de l'équipe NoMask">
                    </div>
                    <h4 class="h4_bold mt-4	text-center">Matthey Raphaël</h4>
                    <h4 class="text-center">Responsable des relations entreprises</h4>
                </div>
                <!-- une photo -->
                <div class="flex flex-col items-center">
                    <div class="w-[140px] h-[140px] lg:w-[200px] lg:h-[200px] rounded-full object-cover">
                        <img class="w-full h-full object-cover rounded-full" src="{% static "neuroa_app/img/photo-exemple-equipe-no-mask.jpg" %}" alt="illustration de quelqu'un de l'équipe NoMask">
                    </div>
                    <h4 class="h4_bold mt-4	text-center">Matthey Raphaël</h4>
                    <h4 class="text-center">Responsable des relations entreprises</h4>
                </div>
                <!-- une photo -->
                <div class="flex flex-col items-center">
                    <div class="w-[140px] h-[140px] lg:w-[200px] lg:h-[200px] rounded-full object-cover">
                        <img class="w-full h-full object-cover rounded-full" src="{% static "neuroa_app/img/photo-exemple-equipe-no-mask.jpg" %}" alt="illustration de quelqu'un de l'équipe NoMask">
                    </div>
                    <h4 class="h4_bold mt-4	text-center">Matthey Raphaël</h4>
                    <h4 class="text-center">Responsable des relations entreprises</h4>
                </div>
            </div>
         </section>
</div>
{% endblock %}
