{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="app" class="min-h-screen flex flex-col bg-[var(--bg_color_nonary)]">
    <h1 class="mt-24 text-center lg:mt-30">Mes favoris / Suivi des candidatures</h1>

    <!-- SECTION MES FAVORIS -->
<section class="bg-[var(--bg_color_quinary)] border-b-2 border-[var(--border_color_quaternary)] py-6 pl-0 mt-16 lg:py-9 lg:px-[103px]">
    <h2 class="text-[var(--text_color_secondary)] text-center">Mes favoris</h2>
    <div class="flex items-center justify-center pl-6 md:pt-7">
        <!-- icon left -->
        <span class="hidden md:block">
            <i class="fa-solid fa-chevron-left text-lg text-[var(--text_color_secondary)] mr-3 cursor-pointer hover:scale-125 duration-75"></i> 
        </span>
        <!-- container les cards -->
        <div class="flex items-center gap-x-7 md:gap-x-12 overflow-x-auto pb-5">
            <!-- card 1 -->
            <a href="#" class="w-fit py-2.5 px-5 rounded bg-[var(--bg_color_octonary)] shadow-lg hover:bg-[var(--bg_color_duodenary)] duration-200 md:px-4 md:pt-8 md:pb-1">
            <div class="flex flex-col gap-x-5 md:items-center md:flex-row">
                <img class="rounded w-16 h-full md:w-20" src="{% static "neuroa_app/img/logo-imts.webp" %}" alt="logo entreprise">
                <div class="w-56">
                    <h4 class="h4_bold mt-2 md:mt-0">Institut Solacroup</h4>
                    <h4 class="mt-0.5">Développeur Web (H/F) Django</h4>
                </div>
            </div>
            <div class="flex items-center gap-x-2.5 mt-6 md:mt-9">
                <i class="fa-solid fa-location-dot text-base text-[var(--text_color_quaternary)]"></i>
                <p class="">Dinard - 35800</p>
            </div>
            <div class="flex items-center gap-x-2.5 mt-2 md:mt-4">
                <i class="fa-solid fa-briefcase text-base text-[var(--text_color_quaternary)]"></i>
                <p class="">Alternance</p>
            </div>
            <p class=".p_interligne hidden md:block md:mt-9 md:max-w-80">Solatypic est la première agence web bretonne adaptée ! Depuis nos locaux implantés à Dinard, nous donnons vie à tous vos projets de communication (web, graphisme, design, print, réseau, formation…)...</p>
            <div class="flex items-center justify-between mt-7 md:mt-11">
                <div class="flex items-start gap-x-2.5">
                    <i class="fa-solid fa-calendar-days text-base text-[var(--text_color_quaternary)]"></i>
                    <p class="text-[var(--text_color_quaternary)]">Il y a 7 jours</p>
                </div>
                <i class="fa-solid fa-bookmark text-lg text-[var(--bg_color_hover_primary)] transition transform hover:scale-110 duration-75"></i>
            </div>
        </a>
        <!-- card 2 -->
        <a href="#" class="w-fit py-2.5 px-5 rounded bg-[var(--bg_color_octonary)] shadow-lg hover:bg-[var(--bg_color_duodenary)] duration-200 md:px-4 md:pt-8 md:pb-1">
            <div class="flex flex-col gap-x-5 md:items-center md:flex-row">
                <img class="rounded w-16 h-full md:w-20" src="{% static "neuroa_app/img/logo-imts.webp" %}" alt="logo entreprise">
                <div class="w-56">
                    <h4 class="h4_bold mt-2 md:mt-0">Institut Solacroup</h4>
                    <h4 class="mt-0.5">Développeur Web (H/F) Django</h4>
                </div>
            </div>
            <div class="flex items-center gap-x-2.5 mt-6 md:mt-9">
                <i class="fa-solid fa-location-dot text-base text-[var(--text_color_quaternary)]"></i>
                <p class="">Dinard - 35800</p>
            </div>
            <div class="flex items-center gap-x-2.5 mt-2 md:mt-4">
                <i class="fa-solid fa-briefcase text-base text-[var(--text_color_quaternary)]"></i>
                <p class="">Alternance</p>
            </div>
            <p class=".p_interligne hidden md:block md:mt-9 md:max-w-80">Solatypic est la première agence web bretonne adaptée ! Depuis nos locaux implantés à Dinard, nous donnons vie à tous vos projets de communication (web, graphisme, design, print, réseau, formation…)...</p>
            <div class="flex items-center justify-between mt-7 md:mt-11">
                <div class="flex items-start gap-x-2.5">
                    <i class="fa-solid fa-calendar-days text-base text-[var(--text_color_quaternary)]"></i>
                    <p class="text-[var(--text_color_quaternary)]">Il y a 7 jours</p>
                </div>
                <i class="fa-solid fa-bookmark text-lg text-[var(--bg_color_hover_primary)] transition transform hover:scale-110 duration-75"></i>
            </div>
        </a>
        <!-- card 3 -->
        <a href="#" class="w-fit py-2.5 px-5 rounded bg-[var(--bg_color_octonary)] shadow-lg hover:bg-[var(--bg_color_duodenary)] duration-200 md:px-4 md:pt-8 md:pb-1">
        <div class="flex flex-col gap-x-5 md:items-center md:flex-row">
            <img class="rounded w-16 h-full md:w-20" src="{% static "neuroa_app/img/logo-imts.webp" %}" alt="logo entreprise">
            <div class="w-56">
                <h4 class="h4_bold mt-2 md:mt-0">Institut Solacroup</h4>
                <h4 class="mt-0.5">Développeur Web (H/F) Django</h4>
            </div>
        </div>
        <div class="flex items-center gap-x-2.5 mt-6 md:mt-9">
            <i class="fa-solid fa-location-dot text-base text-[var(--text_color_quaternary)]"></i>
            <p class="">Dinard - 35800</p>
        </div>
        <div class="flex items-center gap-x-2.5 mt-2 md:mt-4">
            <i class="fa-solid fa-briefcase text-base text-[var(--text_color_quaternary)]"></i>
            <p class="">Alternance</p>
        </div>
        <p class=".p_interligne hidden md:block md:mt-9 md:max-w-80">Solatypic est la première agence web bretonne adaptée ! Depuis nos locaux implantés à Dinard, nous donnons vie à tous vos projets de communication (web, graphisme, design, print, réseau, formation…)...</p>
        <div class="flex items-center justify-between mt-7 md:mt-11">
            <div class="flex items-start gap-x-2.5">
                <i class="fa-solid fa-calendar-days text-base text-[var(--text_color_quaternary)]"></i>
                <p class="text-[var(--text_color_quaternary)]">Il y a 7 jours</p>
            </div>
            <i class="fa-solid fa-bookmark text-lg text-[var(--bg_color_hover_primary)] transition transform hover:scale-110 duration-75"></i>
        </div>
        </a>
        </div>
        <!-- icon right -->
        <span class="hidden md:block">
            <i class="fa-solid fa-chevron-right text-lg text-[var(--text_color_secondary)] ml-3 cursor-pointer hover:scale-125 duration-75"></i>
        </span>
    </div>
</section>

<!-- SECTION SUIVI DES CANDIDATURES -->
 <section class="mt-11 px-9">
    <h2 class="text-center">Suivi des candidatures</h2>
    <!-- container intitulé des filtres -->
     <div class="flex items-center justify-between mt-8">
        <h3 class="hidden lg:block">Nom de l’offre</h3>
        <h3 class="lg:hidden">Offre</h3>
        <h3>Enterprise</h3>
        <details class="leading-normal font-manrope font-normal text-[var(--text_color_secondary)] text-xl lg:text-2xl">
            <summary>Statut</summary>
            <p>Voici le contenu caché qui se déplie.</p>
        </details>
        <details class="leading-normal font-manrope font-normal text-[var(--text_color_secondary)] text-xl lg:text-2xl">
            <summary>Date</summary>
            <p>Voici le contenu caché qui se déplie.</p>
        </details>
     </div>
 </section>
</div>
{% endblock %}