{% extends 'base.html' %}

{% block title %}NoMask{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Félicitations !</h2>
        <p class="text-center">
            {% if not user.is_authenticated %}
                Votre compte est validé. Connectez-vous avec votre email et votre mot de passe pour compléter votre profil et accéder gratuitement à toutes les offres d’emploi publiées sur NoMask.
            {% else %}
                Votre compte est validé, vous pouvez maintenant compléter votre profil et accéder gratuitement à toutes les offres d’emploi publiées sur NoMask.
            {% endif %}<br />
            <br />
            <a href="/">Accéder à NoMask</a>
        </p>
    </div>
{% endblock %}
