<form action="{% url "job_search" %}" method="post">
    {% csrf_token %}
    <section class="section-sm">
        <h2>Trouvez une <strong>entreprise engagée</strong> qui respecte vos <strong>besoins spécifiques</strong></h2>

        <input type="text" id="search_criteria" name="search_criteria" value="{{ search_criteria|default_if_none:"" }}" placeholder="Rechercher un job, une entreprise...">
        <input type="text" id="search_location" name="search_location" value="{{ search_location|default_if_none:"" }}" placeholder="Saisir un lieu">
        <button class="btn mt-8">Rechercher</button>
        <div class="mt-2 text-end">
            <a class="text-sm" href="#" onclick="return view_all_offers()"><i class="fas fa-plus"></i> Voir toutes les offres</a>
        </div>
    </section>
</form>

{% block scripts %}
<script>
    function view_all_offers() {
        document.getElementById('search_criteria').value = '';
        document.getElementById('search_location').value = '';
        document.querySelector('form').submit();
        return false;
    }
</script>
{% endblock %}