{% load static %}
<!-- DRAWER SE CONNECTER -->
<div id="signUpModal" class="z-20 fixed inset-0 bg-gray-900/50 hidden shadow-2xl overflow-y-auto">
    <div id="modalContainer" class="fixed right-0 top-0 min-h-screen bg-[var(--bg_color_nonary)] w-[325px] md:w-[650px] shadow-2xl transform translate-x-full transition-transform duration-300 ease-in-out overflow-y-auto max-h-screen">
        <!-- button croix pour quitter -->
        <button class="closeSignUpModal text-[var(--text_color_secondary)] text-3xl absolute right-0 top-6 mr-8 cursor-pointer transition transform hover:scale-125 duration-75">&times;</button>
        <!-- title bienvenue / inscrivez vous -->
        <h2 id="modalTitle" class="text-center mt-11">
            {% if active_tab == 'login' %}Bienvenue{% else %}Inscrivez-vous{% endif %}
        </h2>
        <!-- container button se connecter / creer un compte -->
        <div id="signUpNav" class="flex items-center justify-center mt-8">
            <button id="loginTab" class="rounded-l-full text-base w-36 h-9 font-roboto flex items-center justify-center cursor-pointer transition transform hover:scale-105 md:w-[250px]">
                Se connecter
            </button> 
            <button id="signUpTab" class="rounded-r-full text-base w-36 h-9 font-roboto flex items-center justify-center cursor-pointer transition transform hover:scale-105 md:w-[250px]">
                Créer un compte
            </button>
        </div>
        <!-- container inputs -->
        <div id="modalContent" class="mt-8 flex flex-col items-center justify-center">
            <div id="loginDiv">
                <form id="loginForm" method="post" action="{% url 'login' %}" class="flex flex-col items-center justify-center">
                    {% csrf_token %}
                    <div>
                        <label for="loginEmail">Adresse mail :</label>
                        <span class="border border-[var(--border_color_primary)] w-fit rounded pl-3 flex items-center justify-center mt-1.5">
                            <i class="fa-solid fa-envelope text-base text-[var(--text_color_quaternary)] pl-1"></i>
                            <input id="loginEmail" placeholder="Saisissez votre adresse mail..." name="email" type="email" required class="input_medium">
                        </span>
                    </div>
                    <div class="mt-5">
                            <label for="loginPassword">Mot de passe :</label>
                            <span class="border border-[var(--border_color_primary)] w-fit rounded pl-3 flex items-center justify-center mt-1.5">
                                <i class="fa-solid fa-lock text-base text-[var(--text_color_quaternary)] pl-1"></i>
                                <input id="loginPassword" placeholder="Saisissez votre mot de passe..." name="password" type="password" required class="input_medium">
                            </span>
                            <span class="w-full flex justify-end">
                                <a href="#" id="forgotPassword" class="block mt-2 underline w-fit hover:text-[var(--bg_color_hover_secondary)]">Mot de passe oublié ?</a>
                            </span>
                            <div class="">
                                <i class="" id="toggleLoginPassword"></i>
                            </div>
                    </div>
                    <div class="flex items-center justify-start ml-3 gap-x-1.25 mt-2 w-full md:ml-0">
                        <input type="checkbox" name="rememberMe" class="w-5 cursor-pointer">
                        <p>Rester connecté</p>
                    </div>
                    <div class="flex flex-col items-center gap-x-12">
                            <button type="submit" class="button_save_drawer mt-4 md:w-125">Se connecter</button>
                            <button type="button" class="cancelSignUp button_cancel_drawer mt-3 md:w-125">Annuler</button>
                    </div>
                    <span class="w-full flex justify-end">
                        <a href="#" onclick="return activateSignUpTab()" class="text-right w-fit mt-3 underline hover:text-[var(--bg_color_hover_secondary)]">Pas encore inscrit ?</a>
                    </span>
                </form>
            </div>
            <div id="signUpDiv">
                <form id="signUpForm" method="post" action="{% url 'sign_up' %}" class="flex flex-col items-center justify-center">
                    {% csrf_token %}
                    <div>
                        <label for="firstName">Prénom :</label>
                        <span class="border border-[var(--border_color_primary)] w-fit rounded pl-3 flex items-center justify-center mt-1.5">
                            <i class="fa-solid fa-user text-base text-[var(--text_color_quaternary)] pl-1"></i>
                            <input id="firstName" placeholder="Saisissez votre prénom..." name="first_name" type="text" required class="input_medium">
                        </span>
                    </div>
                        <div class="mt-5">
                            <label for="lastName" class="">Nom :</label>
                            <span class="border border-[var(--border_color_primary)] w-fit rounded pl-3 flex items-center justify-center mt-1.5">
                                <i class="fa-solid fa-user text-base text-[var(--text_color_quaternary)] pl-1"></i>
                                <input id="lastName" placeholder="Saisissez votre nom..." name="last_name" type="text" required class="input_medium">
                            </span>
                        </div>
                        <div class="mt-5">
                            <label for="email" class="">Adresse mail :</label>
                            <span class="border border-[var(--border_color_primary)] w-fit rounded pl-3 flex items-center justify-center mt-1.5">
                                <i class="fa-solid fa-envelope text-base text-[var(--text_color_quaternary)] pl-1"></i>
                                <input aria-placeholder="Saisissez votre adresse mail..." id="email" placeholder="Entrer votre adresse mail..." name="email" type="email" required class="input_medium">
                            </span>
                        </div>
                        <span id="emailError" class="text-[var(--text_color_septenary)]"></span>
                        <div class="mt-5">
                            <label for="password" class="mt-5">Mot de passe :</label>
                            <span class="border border-[var(--border_color_primary)] w-fit rounded pl-3 flex items-center justify-center mt-1.5">
                                <i class="fa-solid fa-lock text-base text-[var(--text_color_quaternary)] pl-1"></i>
                                <input id="password" placeholder="Saisissez votre mot de passe..." name="password" type="password" required class="w-[212px] h-10 pl-3 text-sm font-roboto border-[var(--border_color_primary)] rounded outline-none md:w-[445px]">
                                <i class="fas fa-eye cursor-pointer text-base text-[var(--text_color_quaternary)] pr-4" id="togglePassword"></i>
                            </span>
                        </div>
                    <div id="passwordErrors" class="ml-4">
                        <p>Le mot de passe doit contenir :</p>
                        <ul class="list-disc">
                            <li id="lengthError" class="font-normal text-xs text-[var(--text_color_secondary)] font-roboto">Au moins 10 caractères</li>
                            <li id="uppercaseError" class="font-normal text-xs text-[var(--text_color_secondary)] font-roboto">Au moins une majuscule</li>
                            <li id="lowercaseError" class="font-normal text-xs text-[var(--text_color_secondary)] font-roboto">Au moins une minuscule</li>
                            <li id="digitError" class="font-normal text-xs text-[var(--text_color_secondary)] font-roboto">Au moins un chiffre</li>
                        </ul>
                    </div>
                    <div class="w-[308px] ml-9 flex items-center justify-start gap-x-3 mt-5 md:w-full md:ml-0">
                        <input type="checkbox" id="signUpValidCheckbox" name="conditions_accepted" required class="">
                        <p class="font-normal text-xs text-[var(--text_color_secondary)] font-roboto">
                            J'ai lu et j'accepte
                            <a href="#" id="showConditions" class="hover:text-[var(--bg_color_hover_secondary)] underline">les CGU et la politique de protection des données</a>.
                        </p>
                    </div>
                    <div class="flex flex-col items-center gap-x-12">
                            <button type="submit" id="signUpSubmitButton" class="button_save_drawer mt-4 md:w-125">S'inscrire</button>
                            <button type="button" class="cancelSignUp button_cancel_drawer mt-4 md:w-125">Annuler</button>
                    </div>
                    <span class="flex justify-end w-full">
                        <a href="#" onclick="return activateLoginTab()" class="w-fit underline mt-4 hover:text-[var(--bg_color_hover_secondary)]">Déjà inscrit ?</a>
                    </span>
                </form>
            </div>
        </div>

        <!-- button retour -->
        <div id="conditionsContent" class="ml-22 mt-11 hidden">
            <button id="backButton" class="button_retour mb-6"><i class="fa-solid fa-arrow-left text-sm cursor-pointer"></i>Retour</button>
            {% include 'condition_list.html' %}
        </div>

        <div id="registrationSuccess" class="hidden p-10 text-center">
            <strong id="maskedEmail">l*****i@disroot.org</strong>
            <p id="registrationSuccessMessage" class="">Nous vous avons envoyé un mail à l'adresse ci-dessus Veuillez cliquer sur le lien se trouvant dans ce mail pour valider votre compte.</p><br>
            <p class="font-normal text-xs text-[var(--text_color_secondary)] font-roboto">
                Vous pouvez maintenant
                <a href="#" id="resetModal" class="hover:text-[var(--bg_color_hover_secondary)] underline">
                    vous connecter
                </a>
            </p>
            <div id="resendEmailSection" class="mt-10">
                <p class="mb-5">Vous n'avez pas reçu l'email ?</p>
                <div class="flex justify-center">
                    <button id="resendEmailButton" class="button_save_drawer">Renvoyer l'email de validation</button>
                </div>
            </div>
        </div>
        <div class="mt-4 text-center">
            <p id="errorMessages" class="text-[var(--text_color_septenary)]"></p>
            <p id="successMessages" class="text-[var(--text_color_octanary)]"></p>
        </div>
    </div>
</div>

<script src="{% static 'neuroa_app/js/signup_modal.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.csrf_token = '{{ csrf_token }}';
        init();
    });
</script>